<!DOCTYPE html>

<html>
    <head>
        <title>About Page</title>
        <link rel='icon' href='/img/icon.png'>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app.js"></script>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img class='portrait' src='/img/ingram-logo.png'>
        </div>
        
        {{>footer}}
    </body>
</html>